@model SSO.Infrastructure.Business.Model.ChangePasswordModel
@{
    Layout = null;
}

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <text>
        <script type="text/javascript">

    DisplayAlertOnScreen("pageContent", "@ViewBag.MessageType", "check", true, "@ViewBag.Message", true);

        </script>
    </text>
}
else
{
    using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "formChangePassword", @class = "form-horizontal" }))
    {
        <div class="popupContent" id="popupContent">
            <div class="form-group">
                @Html.LabelFor(model => model.SenhaAtual)
                @Html.PasswordFor(model => model.SenhaAtual, new { @class = "form-control freeText" })
                @Html.ValidationMessageFor(model => model.SenhaAtual)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Senha)
                @Html.PasswordFor(model => model.Senha, new { @class = "form-control freeText" })
                @Html.ValidationMessageFor(model => model.Senha)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmacaoSenha)
                @Html.PasswordFor(model => model.ConfirmacaoSenha, new { @class = "form-control freeText" })
                @Html.ValidationMessageFor(model => model.ConfirmacaoSenha)
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Alterar Senha <i class="icon-circle-right2 position-right"></i></button>
            </div>
        </div>
    }
}