@model SSO.Infrastructure.Business.Model.ForgotPasswordModel
@{
    Layout = "/Views/Shared/_LogonLayout.cshtml";
}

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Nova Senha</h1>
    <div class="small text-gray-900">Será enviado para seu email o link para gerar a nova senha.</div>
    <br />
</div>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "formLogin", @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control freeText", @placeholder = Html.Raw(Html.DisplayNameFor(n => n.Email)).ToString() })
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Enviar Nova Senha <i class="icon-circle-right2 position-right"></i></button>
    </div>
}

<script type="text/javascript">

    $(document).ready(function () {

        if ("@ViewBag.Message" != "") {
            DisplayAlertOnScreen("pageContent", "@ViewBag.MessageType", "check", true, "@ViewBag.Message", true);
        }

    });

</script>