@model SSO.Infrastructure.Business.Model.ChangeResetPasswordModel
@{
    Layout = "/Views/Shared/_LogonLayout.cshtml";
}

<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Nova Senha</h1>
    <div class="small text-gray-900">Informe seu email e sua nova senha.</div>
    <br />
</div>
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { id = "formLogin", @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.Token)
    <div class="form-group">
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control freeText", @placeholder = Html.Raw(Html.DisplayNameFor(n => n.Email)).ToString() })
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="form-group">
        @Html.PasswordFor(model => model.Senha, new { @class = "form-control freeText", @placeholder = Html.Raw(Html.DisplayNameFor(n => n.Senha)).ToString() })
        @Html.ValidationMessageFor(model => model.Senha)
    </div>
    <div class="form-group">
        @Html.PasswordFor(model => model.ConfirmacaoSenha, new { @class = "form-control freeText", @placeholder = Html.Raw(Html.DisplayNameFor(n => n.ConfirmacaoSenha)).ToString() })
        @Html.ValidationMessageFor(model => model.ConfirmacaoSenha)
    </div>
    <br />
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Gravar Nova Senha <i class="icon-circle-right2 position-right"></i></button>
    </div>
}

<script type="text/javascript">

    $(document).ready(function () {

        if ("@ViewBag.Message" != "") {
            DisplayAlertOnScreen("pageContent", "@ViewBag.MessageType", "check", true, "@ViewBag.Message", true);
        }

    });

</script>